<h1>Pokédex</h1>

<!-- List of pokemon -->
<ul class="pokedex-list">
  <% @pokemon.each do |pkmn| %>
    <li>
      <button class="js-show-pokemon btn btn-link"
          data-pokemon-uri="<%= pkmn["resource_uri"] %>">
        <%= pkmn["name"] %>
      </button>
    </li>
  <% end %>
</ul>


<!-- Pokemon modal view (hidden at first) -->
<div class="modal fade js-pokemon-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>

        <h3 class="modal-title">
          <span class="js-pkmn-name">Feraligtr</span>
          <small class="js-pkmn-number">#160</small>
        </h3>
      </div><!-- .modal-header -->

      <div class="modal-body">
        <dl class="dl-horizontal">
          <dt>Height</dt>
          <dd class="js-pkmn-height">23</dd>

          <dt>Weight</dt>
          <dd class="js-pkmn-weight"></dd>
          <dt>Hit Point</dt>
          <dd class="js-pkmn-hp"></dd>

            <dt>Attack</dt>
          <dd class="js-pkmn-atk"></dd>
          <dt>Special Attack</dt>
          <dd class="js-pkmn-spatk"></dd>
           <dt>Defense</dt>
          <dd class="js-pkmn-dfs"></dd>
          <dt>Special Defense</dt>
          <dd class="js-pkmn-spdfs"></dd>
           <dt>Speed</dt>
          <dd class="js-pkmn-speed"></dd>
           <dt>Types</dt>
          <dd class="js-pkmn-types"></dd>
          <dt>Evolutions</dt>
          <dd class="js-pkmn-evolutions"></dd>
               <dt>Description</dt>
          <dd class="js-pkmn-desc"></dd>
              <dt>Photos</dt>
          <dd class="js-pkmn-pics"></dd>
        </dl>
      </div><!-- .modal-body -->

    </div><!-- .modal-content -->
  </div><!-- .modal-dialog -->
</div><!-- .modal -->


<!-- Evolutions Modal -->
<div class="modal fade js-evolution-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>

        <h3 class="modal-title">
          <span class="js-evolution-name">Feraligtr</span>
          <small class="js-evolution-number">#160</small>
        </h3>
      </div><!-- .modal-header -->

      <div class="modal-body">
        <dl class="dl-horizontal">
          <dt>Height</dt>
          <dd class="js-evolution-height">23</dd>

          <dt>Evolution</dt>
          <dd class="js-evolution-sprites"></dd>
         <dt>Go Back</dt>
          <dd class="js-back-evolutions"></dd>
          
      </div><!-- .modal-body -->

    </div><!-- .modal-content -->
  </div><!-- .modal-dialog -->
</div><!-- .modal -->